@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

:root {
  --background-color: #333333;
  --text-color: #ffffff;

  --chart-background: #ffffff0f;
  --chart-grid-stroke: #ffffff;
  --chart-axis-stroke: #ffffff00;
  --chart-axis-tick-stroke: #ffffff00;
  --chart-axis-tick-label: #ffffffee;

  --cases-area-color: #48a59c;
  --cases-line-color: #E0F2F1;

  --death-area-color: #b3423b;
  --death-line-color: #FFEBEE;

  --growth-below-area: #b3423b;
  --growth-above-area: #489f4c;

  --log-scale-text-color: #ffffffee
}

body, html {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background: var(--background-color);
  font-family: "Roboto Mono", monospace;
}

* {
  box-sizing: border-box;
}

.axis-label {
  fill: var(--text-color);
}


main {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  padding: 3rem 5rem 3rem 5rem;
  overflow: no-content;
}

.country-select-wrapper {

  margin-left: -2.3rem;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 2rem;
  position: relative;

  &::after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    left: 0.5rem;
    top: 0.8rem;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    pointer-events: none;

    border-top: 0.4rem solid var(--text-color);
  }
}
.country-select {
  padding-left: 2rem;
  width: 100%;
  appearance: none;
  background: none;
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
  text-overflow: ellipsis;
  color: var(--text-color);
  border: none;
  font-weight: 500;
}

.type-buttons {
  display: flex;
  flex-flow: row nowrap;
  > button {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 1.2rem;
    background: none;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    margin: 0 0.75rem;
    padding: 0;

    &:first-child {
      margin: 0 0.75rem 0 0;
    }

    &:last-child {
      margin: 0 0 0 0.75rem;
    }

    &.active {
      text-decoration: underline;
      text-decoration-thickness: 0.15rem;
      text-underline-offset: 0.2rem;
      text-underline-mode: 0;
    }
  }
}

.controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.chart-wrapper {

  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  margin-right: -30px;
  margin-left: -50px;
  padding-bottom: calc(2rem - 20px);

}

.chart {
  height: 100%;
  width: 100%;
}


.checkbox-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 0.8rem;
  color: var(--log-scale-text-color);
  > input {
    appearance: none;
    //background: white;
    border-radius: 100%;
    border: 1px solid white;
    width: 1rem;
    height: 1rem;
    margin-left: -1.5rem;
    margin-right: 0.5rem;
    &:checked {
      background: white;
    }
  }
}


@media only screen and (max-width: 600px) {
  main {
    height: 100vh;
    padding: 1.5rem 0.5rem 1rem 0.5rem;

  }
  .country-select-wrapper {
    margin-right: 0;
  }


  .controls {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0 1rem 0 50px;
  }

  .type-buttons {
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    > button {
      font-size: 1rem;
    }
  }

  .chart-wrapper {
    max-height: 450px;
    padding-top: 0;
    align-items: flex-start;
    margin-right: calc(0.5rem - 30px);
    margin-left: 0;
    padding-bottom: 0;

  }
  .checkbox-wrapper {
    > input {
      margin-left: calc(50px - 2em);
    }
  }
}
@media only screen and (max-width: 400px) {

  .chart-wrapper {
    max-height: 300px;
  }
}